APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change_me_please_123456

## APPLICATION ##
ADMIN_URL="http://localhost:8000"
ORGANIZATION_NAME="Open Demat"
ORGANIZATION_LOGO="assets/img/open-demat-logo.png"
THEME_PRIMARY_COLOR="#E30613"
THEME_PRIMARY_DARK_COLOR="#15202B"

## AUTH LOCALE ##
LOCAL_ADMIN_USERNAME="admin"
LOCAL_ADMIN_PASSWORD="admin"

## DATABASE ##
DATABASE_URL="postgresql://app:change_me@127.0.0.1:5432/open_demat?serverVersion=17&charset=utf8"

## CAS ##
CAS_ENABLED=1
CAS_BASE_URL="https://cas.example.org"
CAS_LOGOUT_URL="https://cas.example.org/logout"
CAS_HOST="cas.example.org"
CAS_PORT="443"
CAS_PATH=""
CAS_LOGIN_TARGET="http://localhost:8000"
CAS_GATEWAY=0

## LDAP ##
LDAP_ENABLED=0
LDAP_CONNECTION_STRING="ldap://localhost:389"
LDAP_BASE_DN="dc=example,dc=org"
LDAP_SEARCH_FILTER="(uid=%s)"
LDAP_BIND_DN=""
LDAP_BIND_PASSWORD=""
LDAP_IDENTIFIER_ATTRIBUTE="uid"
LDAP_EMAIL_ATTRIBUTE="mail"
LDAP_FIRST_NAME_ATTRIBUTE="givenName"
LDAP_LAST_NAME_ATTRIBUTE="sn"
LDAP_AUTO_CREATE_USER=1

## SAML2 ##
SAML2_ENABLED=0
SAML2_STRICT=1
SAML2_DEBUG=0
SAML2_SP_ENTITY_ID="http://localhost:8000/saml2/metadata"
SAML2_SP_ACS_URL="http://localhost:8000/saml2/acs"
SAML2_SP_SLS_URL="http://localhost:8000/logout"
SAML2_SP_NAME_ID_FORMAT="urn:oasis:names:tc:SAML:1.1:nameid-format:unspecified"
SAML2_SP_X509_CERT=""
SAML2_SP_PRIVATE_KEY=""
SAML2_IDP_METADATA_FILE=""
SAML2_IDP_METADATA_URL=""
SAML2_IDP_METADATA_XML=""
SAML2_IDP_ENTITY_ID=""
SAML2_IDP_SSO_URL=""
SAML2_IDP_SLO_URL=""
SAML2_IDP_X509_CERT=""
SAML2_AUTHN_REQUESTS_SIGNED=0
SAML2_LOGOUT_REQUEST_SIGNED=0
SAML2_LOGOUT_RESPONSE_SIGNED=0
SAML2_WANT_MESSAGES_SIGNED=0
SAML2_WANT_ASSERTIONS_SIGNED=0
SAML2_WANT_ASSERTIONS_ENCRYPTED=0
SAML2_WANT_NAME_ID_ENCRYPTED=0
SAML2_SIGN_METADATA=0
SAML2_IDENTIFIER_ATTRIBUTE="uid"
SAML2_EMAIL_ATTRIBUTE="mail"
SAML2_FIRST_NAME_ATTRIBUTE="givenName"
SAML2_LAST_NAME_ATTRIBUTE="sn"
SAML2_AUTO_CREATE_USER=1

## MAIL ##
MAILER_DSN="smtp://localhost:1025"
MAILER_FROM="noreply@open-demat.example.org"

## S3 ##
S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_BUCKET="documents"
S3_USE_PATH_STYLE=1
S3_ACCESS_KEY="change_me"
S3_SECRET_KEY="change_me"
