APP_ENV=dev
APP_DEBUG=1
APP_SECRET=change_me_please_123456

## APPLICATION ##
ADMIN_URL="http://localhost:8000"
ORGANIZATION_NAME="Open Demat"
ORGANIZATION_LOGO="assets/img/open-demat-logo.png"
THEME_PRIMARY_COLOR="#E30613"
THEME_PRIMARY_DARK_COLOR="#15202B"

## DATABASE ##
DATABASE_URL="postgresql://app:change_me@127.0.0.1:5432/open_demat?serverVersion=17&charset=utf8"

## CAS ##
CAS_BASE_URL="https://cas.example.org"
CAS_LOGOUT_URL="https://cas.example.org/logout"
CAS_HOST="cas.example.org"
CAS_PORT="443"
CAS_PATH=""
CAS_LOGIN_TARGET="http://localhost:8000"
CAS_GATEWAY=0

## SAML2 ##
SAML2_ENABLED=0
SAML2_IDENTIFIER_ATTRIBUTE="REMOTE_USER"
SAML2_EMAIL_ATTRIBUTE="HTTP_MAIL"
SAML2_FIRST_NAME_ATTRIBUTE="HTTP_GIVENNAME"
SAML2_LAST_NAME_ATTRIBUTE="HTTP_SN"
SAML2_DEFAULT_EMAIL_DOMAIN="example.org"
SAML2_AUTO_CREATE_USER=1
SAML2_LOGIN_URL=""

## MAIL ##
MAILER_DSN="smtp://localhost:1025"
MAILER_FROM="noreply@open-demat.example.org"

## S3 ##
S3_ENDPOINT="http://localhost:9000"
S3_REGION="us-east-1"
S3_BUCKET="documents"
S3_USE_PATH_STYLE=1
S3_ACCESS_KEY="change_me"
S3_SECRET_KEY="change_me"
