/app_open_demat/

.env
.env.local
.env.*.local
!.env.example
!.env.local-template

.phpunit.result.cache
/composer.open_demat.json
/vendor/
/var/
/config/bundles.local.php

compose.override.ya?ml

/garage/data/
/garage/meta/
/garage/rpc_secret
/garage/admin_token

/db/data/

.vscode/
.idea/

/fred/
/Databases/
src/var/
/config/reference.php
